.main-descripcion-container div{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20%;
  
}

.descripcion-container div{
    width: 100%;
}

.main-descripcion-container p{
    
    color: gray;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}