.main-total-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 92%;
}

/* .main-total-container  {
    
    display: inline;
    width: 200px;
} */

.input-container{
    margin-left: 10px;
}




.main-total-container input{
    width: 30px;
    height: 45px;
    text-align: center;
    border: none;
    border: 1px solid #bbbbbb;
    border-left: none;
    border-right: none;
}

.main-total-container input:hover{
  cursor: default;
}

.main-total-container button{
    
    width: 40px;
    height: 45px;
    background-color: white;
   
}

.main-total-container button:hover{
    

    background-color: #bbbbbb;
    cursor:pointer;
   
}

.precio-container{
    display: inline;
    /* margin-right: 10px; */

}

.precio-container h4{
   
    display: inline;
    font-size: 14px;
    color: gray;
    font-family: 'Quicksand', sans-serif;
   
}

.precio-container p{
    font-size: 14px;
    display: inline;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  
   
   
}

.menos{
    border: 1px  solid #bbbbbb;
    border-right: none;
}

.mas{
    border: 1px  solid #bbbbbb;
    border-left: none;

   
}