.main-addButtons-container{
    display: flex;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    flex-direction: column;
    gap: 15px;

}

.main-addButtons-container div{
    
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 45px;
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    
}

.add-Buttons-favourite{
    background-color: rgb(230, 230, 230);
    width: 100%;
    color: black;
    font-weight: bold;
}

.add-Buttons-favourite:hover{
    cursor: pointer;
    box-shadow: rgba(100,100,111, 0.2) 0px 0px 2px 2px;
}

.add-Buttons-cart{
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
   
}

.add-Buttons-cart:hover{
    
    padding: 5px;
    cursor: pointer;
    box-shadow: rgba(32, 32, 37, 0.774) 0px 0px 2px 2px;
}