



.nav-container{

  width: 100%;
  position: relative;
  margin: 0;
  top:0;
  min-width: 320px;
  height: 50px;
  border-left: 5px solid snow;
  border-bottom: 5px solid snow;
  border-top: 5px solid snow;
    /* position: sticky; */
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 73%, rgba(9,9,121,1) 100%);
}